body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #21325E;
  color: #F0F0F0;
}

.container {
  text-align: center;
}

h1 {
  font-size: 60px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 40px;
}

.square {
  background: #F0F0F0;
  border: 1px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 100px;
  width: 100px;
  color: #21325E;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #F0F0F0;
}

.game {
  display: flex;
  justify-content: center;
  margin: 130px 0 130px 130px;
}

.game-info {
  margin-left: 20px;
}

ol {
  list-style-type: none;
  padding: 0;
}

.step {
  color: #21325E;
  background-color: #F1D00A;
  border: none;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.204);
  margin-bottom: 10px;
  padding: 5px;
  width: 120px;
}

.step:hover {
  transform: scale(1.1);
}

.status {
  margin: 40px 0;
}
